<!doctype html>
<html lang="en-TR" class="landing">
<head>
<meta charset="utf-8" />
<meta http-equiv="content-language" content="en-TR" />
<meta name="google" content="notranslate">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
<title>SIGNORA | Wedding Dress</title>
<meta name="description" content="Türkiye'nin en büyük sanal gelinlik pazarında hayalinizdeki elbiseyi bulun."/>
<meta property="og:site_name" content="Signora Wedding"/>
<meta property="og:image" content="../global/images/section1.jpg"/>
<link rel="icon" type="image/png" href="../global/images/signora.png" sizes="96x96" />
<link rel="icon" type="image/png" href="../global/images/signora.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../global/images/signora.png" sizes="16x16" />
<link rel="stylesheet" href="../global/css/bootstrap-d873528a03978e2ef69b9651d41a25da.css">
<link rel="stylesheet" href="../global/css/main-d873528a03978e2ef69b9651d41a25da.css">
<link href='../global/css/style.css' rel='stylesheet' type='text/css'>
<link href='../global/css/cookie.css' rel='stylesheet' type='text/css'>
<link rel="preconnect" href="https:/fonts.googleapis.com">
<link rel="preconnect" href="https:/fonts.gstatic.com" crossorigin>
<link rel="stylesheet" type="text/css" href="../global/css/sweetalert2.min.css">
<link href="https://fonts.googleapis.com/css2?family=Forum&family=Fredoka:wght@300&family=Rubik:wght@300&display=swap" rel="stylesheet">
<script src="../global/js/jquery-6519f9caee95fa306887af963aede94a.js"></script>
<script src="../global/js/main-d873528a03978e2ef69b9651d41a25da.js"></script>
<script src="../global/js/sweetalert2.min.js"></script>
<script src="../global/js/jwtDecode.js"></script>
<script src="../global/js/jwtAuthenticate.js"></script>
<script src="../global/js/cookie.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-228415917-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-228415917-1');
</script>
<script type="text/javascript">

$(function(){
   $("#footer_upload").load("../global/include/footer.html"); 
});
</script>
</head>
<body>

    <nav id="panel-side">
		 <ul class="slideout-menu-list">
          <li><a href="#" class="mobile-menu-trigger"><img alt="arrow-right"src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/close.png" style="float:left;height:13px"></a></li>           
          	<li><a href="../" style="margin-top:20px">Anasayfa </a></li>
          	<li><a href="../design/skirt.html">Gelinliğini Tasarla</a></li>
            <li><a href="/how-it-works.html">Nasıl Çalışır?</a></li>
            <li><a href="/galery.html">Galeri</a></li>       
            <li><a href="../register.html" class="userOfflineSide">Kayıt Ol</a></li>
            <li><a href="../login.html" class="userOfflineSide">Giriş Yap</a></li>
            <li ><a href="#" class="second-toggle" data-submenu="iletisim"><img alt="arrow-right"src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/right-arrow.png" style="float:right;margin-top:8px">İletişim<span class="badge badge-primary hide"> </span></a></li>
        </ul>
     <div class="slideout-menu-sub">
    
            <ul class="slideout-menu-list slideout-submenu-iletisim">
                <li><a href="#" class="second-toggle"><img alt="arrow-left"src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/left-chevron.png" style="float:left;"></a></li>
                 <li><a href="../contact.html" style="margin-top: 20px">Mesaj Yazın</a></li>
           		 <li><a href="../mapping.html">Bize Ulaşın</a></li>
            </ul>
        </div>   
    </nav>

<main id="panel-main" class="inverse">

     <header>
      <nav class="navbar navbar-expand fixed-top inverse">
         <div class="container " >
			 <nav class="navbar navbar-expand fixed-top ">
             <div class="container-fluid no-gutters hidden-md-down" style="background-color:#f5f5f5">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link mobile-menu-trigger" href="#">
                           <img alt="menubar" src="../global/images/include-icon/menu-black.png" style="margin-top: 5px;width:23px">
                            <span class="badge badge-primary badge-pill hidden-lg-up hide"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html" style="font-family: 'Forum', cursive;  font-size: 30px;color:#000">
                            SIGNORA
                        </a>
                    </li>
                    <li class="nav-item hidden-md-down">
                        <a class="nav-link" href="../index.html" style="color:#000">
                            Anasayfa
                        </a>
                    </li>
                    <li class="nav-item dropdown hidden-md-down">
                        <a class="nav-link dropdown-toggle" href="../how-it-works.html" style="color:#000">
                            Nasıl Çalışır?
                        </a>
                    </li>
                    <li class="nav-item dropdown hidden-md-down">
                        <a class="nav-link dropdown-toggle" href="../galery.html" style="color:#000">
                           Galeri
                        </a>
                    </li>
                    <li class="nav-item dropdown hidden-md-down">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" style="color:#000">
                            İletişim
                        </a>
                        <div class="dropdown-menu shadow">
                            <a class="dropdown-item" href="../mapping.html">Bize Ulaşın</a>
                            <a class="dropdown-item" href="../contact.html">Mesaj Yazın</a>
                        </div>
                    </li>
                </ul>
                
                <ul class="navbar-nav ml-auto hidden-md-down">
         	     	<li class="nav-item dropdown userOffline">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                 <img alt="menubar" src="../global/images/include-icon/user-black.png" style="width: 23px">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow">
                                <a class="dropdown-item" href="../login.html">Giriş Yap</a>
                                <a class="dropdown-item " href="../register.html">Kayıt Ol</a>
                            </div>
                     </li>
                     <li class="nav-item dropdown userOnline" hidden>
                        <a class="nav-link dropdown-toggle" href="/signin" data-toggle="dropdown">
                           <img alt="user-circle"src="../global/images/include-icon/user-black.png" style="width: 23px" >
                        </a>
                       <div class="dropdown-menu dropdown-menu-right shadow">
							<a class="dropdown-item userNameDashboard" href="/my/profile.html"></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/my/myDress.html">Gelinliğim</a>                        
                            <a class="dropdown-item" href="/my/profile.html">Profil</a>
                            <a class="dropdown-item" href="/my/favorite.html">Favorilerim</a>
                            <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#" onclick="user_logOut()">Güvenli Çıkış</a>
                        </div>
                    </li>  
                     <li class="nav-item">
                        <a href="../design/skirt.html" class="btn btn-sell btn-outline-light" style="color:#000;border-color:#000" >Gelinliğini tasarla</a>
                    </li>    
                </ul>

            </div>
            <div class="container-fluid navbar-mobile no-gutters hidden-lg-up">

                <ul class="navbar-nav mr-left">
                    <li class="nav-item">
                        <a class="nav-link mobile-menu-trigger" href="#">
                           <img alt="" src="../global/images/include-icon/menu-black.png" style="height: 20px;margin-top: 5px">
                            <span class="badge badge-primary badge-pill hidden-lg-up hide"></span>
                        </a>
                    </li>
                </ul>

                 <ul class="navbar-nav ml-auto mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-center" href="../index.html">
                                <span style="font-family: 'Forum', cursive;font-size: 27px;color: #000">SIGNORA</span>
                            </a>
                        </li>
                    </ul>

                <ul class="navbar-nav mr-right"> 
                   <li class="nav-item">
                      
         	     	<li class="nav-item dropdown userOffline">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                 <img alt="menubar" src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/user-black1.png" style="width:22px">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow">
                                <a class="dropdown-item" href="../login.html">Giriş Yap</a>
                                <a class="dropdown-item " href="../register.html">Kayıt Ol</a>
                            </div>
                     </li>
                     <li class="nav-item dropdown userOnline" hidden>
                        <a class="nav-link dropdown-toggle" href="/signin" data-toggle="dropdown">
                           <img alt="user-circle"src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/user-black1.png" style="width:22px">
                        </a>
                       <div class="dropdown-menu dropdown-menu-right shadow">
							<a class="dropdown-item userNameDashboard" href="/my/profile.html" ></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/my/myDress.html">Gelinliğim</a>                        
                            <a class="dropdown-item" href="/my/profile.html">Profil</a>
                            <a class="dropdown-item" href="/my/favorite.html">Favorilerim</a>
                            <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#" onclick="user_logOut()">Güvenli Çıkış</a>
                        </div>
                    </li>  
                    </ul>
            </div>
        </nav>
    	</div>
    </nav>
    </header>
<section class="landing landing-full">
				    <div class="hero-background first" id="hero-background-0" style="background-image: url(https://dgasyaz30z7f4.cloudfront.net/global/images/hero.webp)">
			                    <div class="hero-darken"></div>               
                </div>
			  
			
	<div class="container">

        <div class="row">
            <div class="col" style="padding-bottom: 150px">

                <h1 class="mb-2	 mt-5 mt-md-4"><span class="text-nowrap" style="color:#000">Hayalindeki </span> <span class="text-nowrap"style="color:#000">Gelinliği Keşfet</span></h1>
                <p class="lead mb-6" style="color:#000">Seçenekleri belirle , gelinliği oluştur </p>

            </div>
        </div>

	</div>

</section>
<section class="tight hidden-sm-down">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="/press"><img src="https://dgasyaz30z7f4.cloudfront.net/global/images/featured.png" alt="Featured in"></a>
            </div>
        </div>
    </div>
</section>
<section class="light">
        <div class="container">

            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2>İlham & Tasarım & Sonuç </span></h2>
                </div>
            </div>

            <div class="row text-center how-it-works">
                <div class="col-md-4 mb-3">
                    <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/price-tag.png" style="height:60px"><br>
                    <h4 class="mb-3">Tarzınızı keşfedin</h4>
                    <p class="text-muted">İlham alın ve benzersiz vizyonunuzu paylaşın.</p>
                </div>
                <div class="col-md-4 mb-3">
                    <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/plugin.png" style="height:60px"><br>
                    <h4 class="mb-3">Elbiseni tasarla</h4>
                    <p class="text-muted">Sizin için mükemmel olan elbiseyi tasarlamak için bir stilistle beraber çalışın.  </p>
                </div>
                <div class="col-md-4 mb-3">
                    <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/check-shield.png" style="height:60px"><br>
                    <h4 class="mb-3">Elbisene hayat ver</h4>
                    <p class="text-muted">Elbiseniz usta terzilerimiz tarafından dikilsin.</p>
                </div>
            </div>

    
        </div>
    </section>

  <!--   <section class="tight">
        <div class="container">

            <div class="row">
                <div class="col-12">

                    <a href="/sustainability" class="sustainable card border-0">
                        <div class="card-body py-0">

                            <div class="row">
                                <div class="col-12 col-lg-6 p-4 p-xl-5 align-self-center">

                                    <span class="d-inline-block mb-2 text-uppercase w-semibold">Sustainability</span>
                                    <h4 class="w-bold mb-0">At Stillwhite, we contribute 1% of our revenue to carbon removal</h4>

                                </div>
                                <div class="col-12 col-lg-6 py-0">

                                    <img class="d-none d-lg-block" src="https://dgasyaz30z7f4.cloudfront.net/global/images/banner-h.png" width="698" alt="Sustainability at Stillwhite">
                                    <img class="d-block d-lg-none mx-auto" src="https://dgasyaz30z7f4.cloudfront.net/global/images/banner-v.png" width="446" alt="Sustainability at Stillwhite">

                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>

        </div>
    </section> -->



<section>
    <div class="container-fluid text-center" id="designers">

        <div class="slider">
            <div class="slider-items">
                <ul class="items">
                    <li class="pb-1 items-circle text-center">
                        <a href="../galery.html?shape=1" class="mb-2">
                            <div class="item-photo" style="background-image:url(https://dgasyaz30z7f4.cloudfront.net/global/images/440x440.jpg); background-color:#ffffff; border:4px solid #e9ecef">
                                <img src="https://dgasyaz30z7f4.cloudfront.net/global/images/placeholder.png">
                            </div>
                        </a>
                        <span class="w-semibold">A-Line</span>
                        </li><li class="pb-1 items-circle text-center">
                        <a href="../galery.html?shape=4" class="mb-2">
                            <div class="item-photo" style="background-image:url(https://dgasyaz30z7f4.cloudfront.net/global/images/440x440-1.jpg); background-color:#24241a; border:4px solid #e9ecef">
                                <img src="https://dgasyaz30z7f4.cloudfront.net/global/images/placeholder.png">
                            </div>
                        </a>
                        <span class="w-semibold">Mermaid</span>
                        </li><li class="pb-1 items-circle text-center">
                        <a href="../galery.html?shape=2" class="mb-2">
                            <div class="item-photo" style="background-image:url(https://dgasyaz30z7f4.cloudfront.net/global/images/440x440-2.jpg); background-color:#9a7e73; border:4px solid #e9ecef">
                                <img src="https://dgasyaz30z7f4.cloudfront.net/global/images/placeholder.png">
                            </div>
                        </a>
                        <span class="w-semibold">Ballgown</span>
                        </li>
                                   
                     </ul>
            </div>
           <!--  <a href="#" class="slider-nav slider-nav-left hide">
                <div class="slider-nav-icon"><img alt="arrow-left"src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/left-chevron.png" style="float:left;margin-top:8px"></div>
            </a>
            <a href="#" class="slider-nav slider-nav-right hide">
                <div class="slider-nav-icon"><img alt="arrow-right"src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/right-arrow.png" style="float:right;margin-top:8px"></div>
            </a> -->
        </div>

    </div>
</section>



<section class="text-muted light pt-4 pb-0">
    <div class="container">     
        <div class="row">
            <div class="col-12">

                <h4 class="text-center mb-3">Misyonumuz</span></h4>

                <medium class="footer-text">
                   Signora Wedding, müşterilerinin hayat tarzını ve ihtiyaçlarını anlayıp onlara özgün tasarımlar sunan ;
                   Kalite anlayışının, takım ruhunun ve müşteri memnuniyetinin ön planda olduğu dinamik bir markadır.
                   Signora, benzersiz vizyonunuzu özel bir gelinliğe dönüştürmek için uzman stil önerileri, 
                   çevrimiçi araçlar ve sınıfının en iyi dikim uzmanlarını sunar.
                </medium>

            </div>
        </div>

    </div>
    <br>
</section>



<section class="pb-0">
 	<div class="container">
        <div class="justify-content-around text-center">
			    <h2 class="w-bold mb-3">
				SÜREÇ<br></h2>
				<p style="font-size: x-large">Özel yapım gelinliğiniz bir gecede yapılmıyor.</p>
				<p style="font-size: x-large">Aslında çoğu gelin, düğün tarihinden 9 - 12 ay önce tasarım hizmetlerine kaydolur.</p><br>
				<h3><strong>İŞTE NASIL YAPILIR</strong></h3>

		 		
        </div>
      </div>
	
	<br>
     <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0 order-lg-2">

                <img src="../global/images/Step4.png" style="width: 400px;">


            </div>
            <div class="col-lg-5 order-lg-1">

                <h3 class="w-bold mb-3">
		 			Gelinlik Stilinizi keşfetmekle başlayalım 
		 		</h3>

                <p class="mb-2">
                    Gelinlik Stilinizi keşfetmekle başlayalım Instagram, Pinterest, yerel mağazalar ve algoritma destekli görünüm kitabımız arasında,
                    hangi elbise özelliklerini sevdiğinizi (ve hangilerini sevmediğinizi) anlayabilirsiniz.
                </p>
                

            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">

                <img src="../global/images/Step6.png" style="width: 600px;">


            </div>
            <div class="col-lg-5">

                <h3 class="w-bold mb-3">
                    Kişisel bir stilistle ilhamı tasarıma dönüştürün
                </h3>

                <p class="mb-4">
                   Siz ve bir Signora stilisti, bir elbise konsepti oluşturmak için tercihlerinizi ve bütçenizi onaylayacaksınız.
                   Randevu, kumaş örnekleri ve önemli gününüze kadar yalnızca bir arama, metin veya e-posta uzakta olan bir elbise oluşturma müttefiki içerir!
					

                </p>
          

            </div>
        </div>
    </div>
     <br>
     <br>
        <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0 order-lg-2">

                <img src="../global/images/Step5.png" style="width: 400px;">


            </div>
            <div class="col-lg-5 order-lg-1">

                <h3 class="w-bold mb-3">
                   Özel gelinliğine "EVET" de
                </h3>

                <p class="mb-2">
                   Stilistinizle sohbet etmek ve çevrimiçi platformumuza göz atmak arasında, tasarımınıza karar verirken dantel, kumaş ve aplike karışımınız
                    mükemmel görünene kadar tasarımınızı değiştirebilirsiniz. Karar verdiğinde gelinliğini 3 ay gibi kısa bir sürede elde dikeceğiz.
                </p>
                

            </div>
        </div>
    </div>
     <br>
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">

                <img src="../global/images/Step3.png" style="width: 400px;">


            </div>
            <div class="col-lg-5">

                <h3 class="w-bold mb-3">
                   Ve son güne kadar herhangi bir son ince ayara ihtiyacınız varsa..
                </h3>

                <p class="mb-4">
                    Yerel terzinizle bazı değişikliklere ihtiyacınız olabilir. 
					Size bu konuda rehberlik edeceğiz ve 500 liranın üzerindeyse maliyetini bile karşılayacağız.

                </p>
                

            </div>
        </div>
    </div>
    <br>
</section>
<section class="content cta pb-0 pb-lg-5 px-lg-5">
        <div class="banner banner-max py-5" style="background-image:url(https://dgasyaz30z7f4.cloudfront.net/global/images/our-dresses.webp); background-position: center 50%;">
            <div class="container-fluid">

                <div class="row no-gutters">
                    <div class="col-10 col-sm-7 col-md-6 col-xl-5">

                        <div class="ml-md-3 ml-lg-5">
                            
                                <div class="title w-semibold mb-5" style="color:#2b211d">Gelinliğini Yarat</div>
                                <a href="#" class="btn btn-outline-light btn-lg mb-5" style="color:#2b211d ; border-color:#2b211d">Şimdi Başla</a>

                                                    </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
<section class="content light">
        <div class="container">

            <div class="row">
                <div class="col-12 text-md-center">
                    <hr class="title-hr">
                    <h2 class="title w-bold">Bizimle çalışmaktan mutluluk duyan müşterilerimiz</h2>
                </div>
            </div>

        </div>
        <div class="container">

       <div class="row">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
           <div class="review">
            <blockquote>
                <q class="shadow">
                    <div class="review-text">
                        <div class="review-text-inner">Verdiğim en iyi karar.
                        Özel bir gelinlik giyebileceğimi hiç düşünmemiştim çünkü bu tür bir lükse sadece maddi gücü yetenlerin erişebileceğini düşündüm.
                         Signora  ile pek çok gelin ısmarlama bir elbise alabilir! Butiklerde denediğim ve sevmediğim elbiselerden herhangi birini satın almaktan çok daha ucuzdu. 
                         Sonuç olarak Signora'nın elbisemi yaratması verdiğim en iyi karardı. 
                        </div>
                        <a href="#" class="review-text-more w-semibold"><div class="review-text-more-label">More</div></a>
                    </div><span class="rating"><span class="star">
                    <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" >
                    </span><span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" >
                    </span><span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" >
                    </span><span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" >
                    </span></span></q>
                 <img class="quote" alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/left-quote.png" >
                 <cite class="text-dark">
                    <img src="https://dgasyaz30z7f4.cloudfront.net/global/images/placeholder.png" class="round">A***** S****<br>
                    <small class="text-muted">3 Ay önce</small>
                </cite> 
            </blockquote>
        </div>  
        </div>
        <div class="col-12 col-md-6 mb-4 mb-md-0">                
        <div class="review">
            <blockquote class="active">
                <q class="shadow">
                  <img class="quote" alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/left-quote.png"  >
                    <div class="review-text">
                        <div class="review-text-inner">“ Elbisemin çizimime ne kadar çok benzediğinden çok etkilendim ve elbisemin nasıl ortaya çıktığı konusunda kesinlikle çok heyecanlıyım. 
                        Signora'dan tamamen ısmarlama yaptığım için daha önce kimsenin benimki gibi bir gelinlik giymemiş olmasına bayılıyorum! 
                        </div>
                        <a href="#" class="review-text-more w-semibold"><div class="review-text-more-label">More</div></a>
                    </div><span class="rating"><span class="star"> 
                    <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    </span><!-- <a href="/236884-morilee" target="_blank" class="small review-segment">seller</a> --></q>
              
                 <cite class="text-dark">
                    <img src="https://dgasyaz30z7f4.cloudfront.net/global/images/placeholder.png" class="round">K**** A****<br>
                    <small class="text-muted">2 Ay önce</small>
                </cite> 
            </blockquote>
        </div>
        </div>
            <div class="col-12 col-md-6 mb-4 mb-md-0">                
        <div class="review">
            <blockquote class="active">
                <q class="shadow">
                  <img class="quote" alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/left-quote.png"  >
                    <div class="review-text">
                        <div class="review-text-inner"> Signora ile yaşadığım deneyim inanılmazdı. En başından beri, elbisem yapılırken mükemmel, kişiselleştirilmiş müşteri hizmetleri ve süreç hakkında sık sık 
                        iletişim aldım. Herhangi bir butik salonun çok altında, büyük bir gelin zinciriyle aynı fiyata bir elbisede tam olarak istediğimi elde edebildim ve 
                        güzel olmasını sağladım. 
                        </div>
                        <a href="#" class="review-text-more w-semibold"><div class="review-text-more-label">More</div></a>
                    </div><span class="rating"><span class="star"> 
                    <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    </span><!-- <a href="/236884-morilee" target="_blank" class="small review-segment">seller</a> --></q>
              
                 <cite class="text-dark">
                    <img src="https://dgasyaz30z7f4.cloudfront.net/global/images/placeholder.png" class="round">D*** K***<br>
                    <small class="text-muted">5 Hafta önce</small>
                </cite>
            </blockquote>
        </div>
        </div>
            <div class="col-12 col-md-6 mb-4 mb-md-0">                
        <div class="review">
            <blockquote class="active">
                <q class="shadow">
                  <img class="quote" alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/left-quote.png"  >
                    <div class="review-text">
                        <div class="review-text-inner">Tam olarak ihtiyacım olan şey!!.Gelinlikte tam olarak ne istediğini bilen ama ne internette ne de mağazalarda bulamayan bir gelinseniz Signora tam size göre.
                         Tüm süreç boyunca çok ilgilenildiğimi hissettim ve takımlarından yardım alarak elbiseyi tasarlamak çok eğlenceliydi
                        </div>
                        <a href="#" class="review-text-more w-semibold"><div class="review-text-more-label">More</div></a>
                    </div><span class="rating"><span class="star"> 
                    <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    <span class="star"> <img alt=""src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/star.png" style="height:20px;display:inline-flex" ></span>
                    </span><!-- <a href="/236884-morilee" target="_blank" class="small review-segment">seller</a> --></q>
              
                 <cite class="text-dark">
                    <img src="https://dgasyaz30z7f4.cloudfront.net/global/images/placeholder.png" class="round">C**** F****<br>
                    <small class="text-muted">1 Hafta önce</small>
                </cite> 
            </blockquote>
        </div>
        </div>
         <a href="../contact.html" class="small text-muted"  target="_blank">Siz de yorumlarınızı bizimle paylaşın , yayınlayalım...</a>
       </div>
        </div>
    </section>
<script>
    var $user = "";
    var $role = "";
    var $base = "https://dgasyaz30z7f4.cloudfront.net/";
    var $geoip = false;
    var $country="tr";
</script>

<footer>
    <div class="container" id="footer_upload">

    </div>
</footer>
	
</main>
</body>
</html>