<!DOCTYPE html>
<html lang="en-TR" class="landing">
<head>
<meta charset="utf-8" />
<meta http-equiv="content-language" content="en-TR" />
<meta name="google" content="notranslate">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
<title>Signora - Şifreni Yenile</title>
<meta name="description" content="Hayalindeki gelinliği yarat."/>
<meta property="og:site_name" content="Signora"/>
<meta property="og:image" content="../global/images/signora.png"/>
<meta property="og:title" content="Signora - Şifreni Yenile"/>
<meta property="og:description" content="Hayalindeki gelinliği yarat."/>
<link rel="icon" type="image/png" href="../global/images/signora.png" sizes="96x76" />
<link rel="icon" type="image/png" href="../global/images/signora.png" sizes="32x24" />
<link rel="icon" type="image/png" href="../global/images/signora.png" sizes="16x10" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Forum&family=Fredoka:wght@300&family=Rubik:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../global/css/bootstrap-d873528a03978e2ef69b9651d41a25da.css">
<link rel="stylesheet" href="../global/css/main-d873528a03978e2ef69b9651d41a25da.css">
<link rel="stylesheet" type="text/css" href="../global/css/sweetalert2.min.css">
<link href='../global/css/style.css' rel='stylesheet' type='text/css'>
<link href='../global/css/cookie.css' rel='stylesheet' type='text/css'>
<link href='../global/css/cookie.css' rel='stylesheet' type='text/css'>
<script src="../global/js/sweetalert2.min.js"></script>
<script src="../global/js/jquery-6519f9caee95fa306887af963aede94a.js"></script>
<script src="../global/js/main-d873528a03978e2ef69b9651d41a25da.js"></script>
<script src="../global/js/jwtDecode.js"></script>
<script src="../global/js/savePassword.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BJ2K9V3EX4"></script>
<script src="../global/js/googleanaliystic.js"></script>
<script src="../global/js/cookie.js"></script>
</head>
    <body>
      

    <nav id="panel-side">
		 <ul class="slideout-menu-list">
          <li><a href="#" class="mobile-menu-trigger"><img alt="arrow-right"src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/close.png" style="float:left;height:13px"></a></li>           
          	<li><a href="../" style="margin-top:20px">Anasayfa </a></li>
          	<li><a href="../design/skirt.html">Gelinliğini Tasarla</a></li>
            <li><a href="/how-it-works.html">Nasıl Çalışır?</a></li>
            <li><a href="/galery.html">Galeri</a></li>       
            <li><a href="../register.html" class="userOfflineSide">Kayıt Ol</a></li>
            <li><a href="../login.html" class="userOfflineSide">Giriş Yap</a></li>
            <li ><a href="#" class="second-toggle" data-submenu="iletisim"><img alt="arrow-right"src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/right-arrow.png" style="float:right;margin-top:8px">İletişim<span class="badge badge-primary hide"> </span></a></li>
        </ul>
     <div class="slideout-menu-sub">
    
            <ul class="slideout-menu-list slideout-submenu-iletisim">
                <li><a href="#" class="second-toggle"><img alt="arrow-left"src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/left-chevron.png" style="float:left;"></a></li>
                 <li><a href="../contact.html" style="margin-top: 20px">Mesaj Yazın</a></li>
           		 <li><a href="../mapping.html">Bize Ulaşın</a></li>
            </ul>
        </div>   
    </nav>

<main id="panel-main">

     <header>
      <nav class="navbar navbar-expand fixed-top">
         <div class="container " >
			 <nav class="navbar navbar-expand fixed-top ">
             <div class="container-fluid no-gutters hidden-md-down" style="background-color:#fff">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link mobile-menu-trigger" href="#">
                           <img alt="menubar" src="../global/images/include-icon/menu-black.png" style="margin-top: 5px;width:23px">
                            <span class="badge badge-primary badge-pill hidden-lg-up hide"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html" style="font-family: 'Forum', cursive;  font-size: 30px;color:#000">
                            SIGNORA
                        </a>
                    </li>
                    <li class="nav-item hidden-md-down">
                        <a class="nav-link" href="../index.html" style="color:#000">
                            Anasayfa
                        </a>
                    </li>
                    <li class="nav-item dropdown hidden-md-down">
                        <a class="nav-link dropdown-toggle" href="../how-it-works.html" style="color:#000">
                            Nasıl Çalışır?
                        </a>
                    </li>
                    <li class="nav-item dropdown hidden-md-down">
                        <a class="nav-link dropdown-toggle" href="../galery.html" style="color:#000">
                           Galeri
                        </a>
                    </li>
                    <li class="nav-item dropdown hidden-md-down">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" style="color:#000">
                            İletişim
                        </a>
                        <div class="dropdown-menu shadow">
                            <a class="dropdown-item" href="../mapping.html">Bize Ulaşın</a>
                            <a class="dropdown-item" href="../contact.html">Mesaj Yazın</a>
                        </div>
                    </li>
                </ul>
                
                <ul class="navbar-nav ml-auto hidden-md-down">
         	     	<li class="nav-item dropdown userOffline">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                 <img alt="menubar" src="../global/images/include-icon/user-black.png" style="width: 23px">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow">
                                <a class="dropdown-item" href="../login.html">Giriş Yap</a>
                                <a class="dropdown-item " href="../register.html">Kayıt Ol</a>
                            </div>
                     </li>
                     <li class="nav-item dropdown userOnline" hidden>
                        <a class="nav-link dropdown-toggle" href="/signin" data-toggle="dropdown">
                           <img alt="user-circle"src="../global/images/include-icon/user-black.png" style="width: 23px" >
                        </a>
                       <div class="dropdown-menu dropdown-menu-right shadow">
							<a class="dropdown-item userNameDashboard" href="/my/profile.html"></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/my/myDress.html">Gelinliğim</a>                        
                            <a class="dropdown-item" href="/my/profile.html">Profil</a>
                            <a class="dropdown-item" href="/my/favorite.html">Favorilerim</a>
                            <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#" onclick="user_logOut()">Güvenli Çıkış</a>
                        </div>
                    </li>  
                     <li class="nav-item">
                        <a href="../design/skirt.html" class="btn btn-sell btn-outline-light" style="color:#000;border-color:#000" >Gelinliğini tasarla</a>
                    </li>    
                </ul>

            </div>
            <div class="container-fluid navbar-mobile no-gutters hidden-lg-up">

                <ul class="navbar-nav mr-left">
                    <li class="nav-item">
                        <a class="nav-link mobile-menu-trigger" href="#">
                           <img alt="" src="../global/images/include-icon/menu-black.png" style="height: 20px;margin-top: 5px">
                            <span class="badge badge-primary badge-pill hidden-lg-up hide"></span>
                        </a>
                    </li>
                </ul>

                 <ul class="navbar-nav ml-auto mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-center" href="../index.html">
                                <span style="font-family: 'Forum', cursive;font-size: 27px;color: #000"  >SIGNORA</span>
                            </a>
                        </li>
                    </ul>

                <ul class="navbar-nav mr-right"> 
                   <li class="nav-item">
                      
         	     	<li class="nav-item dropdown userOffline">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                 <img alt="menubar" src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/user-black1.png" style="width:22px">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow">
                                <a class="dropdown-item" href="../login.html">Giriş Yap</a>
                                <a class="dropdown-item " href="../register.html">Kayıt Ol</a>
                            </div>
                     </li>
                     <li class="nav-item dropdown userOnline" hidden>
                        <a class="nav-link dropdown-toggle" href="/signin" data-toggle="dropdown">
                           <img alt="user-circle"src="https://dgasyaz30z7f4.cloudfront.net/global/images/include-icon/user-black1.png" style="width:22px">
                        </a>
                       <div class="dropdown-menu dropdown-menu-right shadow">
							<a class="dropdown-item userNameDashboard" href="/my/profile.html" ></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/my/myDress.html">Gelinliğim</a>                        
                            <a class="dropdown-item" href="/my/profile.html">Profil</a>
                            <a class="dropdown-item" href="/my/favorite.html">Favorilerim</a>
                            <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#" onclick="user_logOut()">Güvenli Çıkış</a>
                        </div>
                    </li>  
                    </ul>
            </div>
        </nav>
    	</div>
    </nav>
    </header>
    
        <div id="resetPassword">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div style="border-style: solid; border-spacing: 2em; border-radius: 20px; border-width: thin;border-color:gainsboro;">
                        <div class="text-center" style="margin: 50px;">
                            <a href="../index.html">
                                <img src="https://dgasyaz30z7f4.cloudfront.net/global/images/signora.png"  class="mb-4 d-inline" width="80" height="auto" alt="Signora">      
                             </a>
                            <div class="text-line">
                                <div>
                                    <span>Şifremi Unuttum</span>
                                </div>
                            </div>
                             <br>
                             <form id="login-form"  class="login-form">  
                                <div class="form-group">
                                    <input type="password" class="form-control"  id="newPassword" name="newPassword" placeholder="Yeni Şifre" value="" required>
                                </div>
                                <div class="form-group" id="password">
                                    <input type="password" class="form-control" id="reNewPassword" name="reNewPassword" placeholder="Yeni Şifre Tekrar" required>
                                </div>
                                <div class="form-group d-flex">
					              <label id = "result" style="display:none"></label>
					            </div>
                                <br>
                                <input type="button" id="btnGuncelle" class="btn btn-primary btn-block" value="Şifre Güncelle">
                            </form>                      
                        </div>
                    </div>
                </div>
              </div>
            </div>
      
<script>
    var $user = ""; var $role = "";
    var $base = "";
    var $geoip = false;
	var $country="tr";
	

	$(function(){
	   $("#footer_upload").load("../global/include/footer.html"); 
	});
</script>
<footer>
    <div class="container" id="footer_upload">

    </div>
</footer>
    </main> 
     
    </body>
    </html>

